.header {
    background-color: gray;
}

.navList {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-weight: 600;
}

.link {
    padding: 15px 5px;
    color: #ffffff;
}